.container{
    background-color: rgb(17, 70, 124);
    border-radius: 8px;
    height: 250px;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text{
    font-size:20px;
    width: 50%;
    text-align: right;
}
.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.button:hover{
    text-decoration: underline;
}
input{
    color: white;
    height: 25px;
    font-size: 15px;
    border: none;
    background-color: rgb(13, 58,103);
}