.container {
    background-color: rgb(66,101,128);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    margin-left: -10px;
  }

.imgContainer{
    display: flex;
}
.imgBlock{
    background-color: rgb(59, 89,113);
    margin-right: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staticContainer{
    display: flex;
}
.staticBlock{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
